{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>zhuzaochang</title>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=54cc43f1c36d9d3e7f21386f8b0448b8"></script>
    <link href="{% static 'css/chunk-110053f2.c4663fcf.css' %}" rel="prefetch">
    <link href="{% static 'css/chunk-1a222d1a.d8f83d1f.css' %}" rel="prefetch">
    <link href="{% static 'css/chunk-1d58bad2.544f6f93.css' %}" rel="prefetch">
    <link href="{% static 'css/chunk-418df500.f378253c.css' %}" rel="prefetch">
    <link href="{% static 'css/chunk-7bfee95a.c1623027.css' %}" rel="prefetch">
    <link href="{% static 'css/chunk-b4a08392.e63f117e.css' %}" rel="prefetch">
    <link href="{% static 'js/chunk-110053f2.59086a3a.js' %}" rel="prefetch">
    <link href="{% static 'js/chunk-1a222d1a.d4d756f5.js' %}" rel="prefetch">
    <link href="{% static 'js/chunk-1d58bad2.be635d1c.js' %}" rel="prefetch">
    <link href="{% static 'js/chunk-418df500.bf95f41a.js' %}" rel="prefetch">
    <link href="{% static 'js/chunk-7bfee95a.607dea10.js' %}" rel="prefetch">
    <link href="{% static 'js/chunk-b4a08392.965e4dde.js' %}" rel="prefetch">
    <link href="{% static 'css/app.a531256d.css' %}" rel="preload" as="style">
    <link href="{% static 'css/chunk-vendors.4042a6bc.css' %}" rel="preload" as="style">
    <link href="{% static 'js/app.2a4a9d2d.js' %}" rel="preload" as="script">
    <link href="{% static 'js/chunk-vendors.1b1c82fa.js' %}" rel="preload" as="script">
    <link href="{% static 'css/chunk-vendors.4042a6bc.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.a531256d.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but zhuzaochang doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id="app"></div>
<script src="{% static 'js/app.2a4a9d2d.js' %}"></script>
</body>
</html>